<!DOCTYPE html>
<html lang="{{ .Lang }}" amp class="no-js">
  {{ partial "head.amp.html" . }}
  <body>
    {{ partial "nav.amp.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    <main>
    {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.amp.html" . }}
  </body>
</html>