<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.10&appId={{ .Site.Params.FacebookAppId }}";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '{{ .Site.Params.FacebookAppId }}',
        xfbml      : true,
        version    : 'v2.10'
      });
    
      FB.AppEvents.logPageView();
    
    };
</script>