<footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p class="credits copyright text-muted">
                {{ if .Site.Author.name }}
                  {{ if .Site.Author.website }}
                    <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
                  {{ else }}
                    {{ .Site.Author.name }}
                  {{ end }}          
                {{ end }}
                
                &nbsp;&bull;&nbsp;
                {{ .Site.LastChange.Format "2006" }}
      
                {{ if .Site.Title }}
                  &nbsp;&bull;&nbsp;
                  <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
                {{ end }}
              </p>
              <!-- Please don't remove this, keep my open source work credited :) -->
              <p class="credits theme-by text-muted">
                {{ i18n "poweredBy" . | safeHTML }}
                {{ with .Site.Params.commit }}&nbsp;&bull;&nbsp;[<a href="{{.}}{{ getenv "GIT_COMMIT_SHA" }}">{{ getenv "GIT_COMMIT_SHA_SHORT" }}</a>]{{ end }}
              </p>
            </div>
          </div>
        </div>
      </footer>
      
      <!-- Google Custom Search Engine -->
      {{ if .Site.Params.gcse }}
      <script>
        (function() {
          var cx = '{{ .Site.Params.gcse }}';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
        })();
      </script>
      {{ end }}
      