<head>
        {{ range .AlternativeOutputFormats -}}
        <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end -}}
        
        <meta property="fb:pages" content="{{ .Site.Params.FacebookPageId }}" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <!-- Site Title, Description, Author, and Favicon -->
      {{- with .Title | default .Site.Title }}
        <title>{{ . }}</title>
        <meta property="og:title" content="{{ . }}" />
        <meta name="twitter:title" content="{{ . | truncate 70 }}" />
      {{- end }}
      {{- with .Description | default .Params.subtitle | default .Summary }}
        <meta name="description" content="{{ . }}">
        <meta property="og:description" content="{{ . }}">
        <meta name="twitter:description" content="{{ . | truncate 200 }}">
      {{- end }}
        <meta name="author" content="{{ .Site.Author.name }}"/>
      {{- with .Site.Params.favicon }}
        <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
      {{- end -}}
      <!-- Social Media Tags -->
      {{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
        <meta property="og:image" content="{{ . | absURL }}" />
        <meta name="twitter:image" content="{{ . | absURL }}" />
      {{- end }}
        <meta name="twitter:card" content="summary" />
      {{- with .Site.Author.twitter }}
        <meta name="twitter:site" content="@{{ . }}" />
        <meta name="twitter:creator" content="@{{ . }}" />
      {{- end }}
      {{- with .Site.Params.facebookAppId }}
        <meta property="fb:app_id" content="{{ . }}" />
      {{- end }}
        <meta property="og:url" content="{{ .URL | absLangURL }}" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="{{ .Site.Title }}" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" />

        {{ partial "amp/header" . }}
        {{ partial "seo/main" . }}  

</head>