<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="amp-flex">

            <div class="navbar-header">
                    <a class="navbar-brand" href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
                  </div>
                  <div class="amp-logo">
                      {{ if isset .Site.Params "logo" }}
                        <a title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
                          <amp-img class="avatar-img" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" height="50" width="50" layout="responsive"></amp-img>
                        </a>
                      {{ end }}
                  </div>
        
    </div>
      </nav>
      
      <!-- Search Modal -->
      {{ if isset .Site.Params "gcse" }}
        <div id="modalSearch" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{ i18n "gcseLabelLong" . }}</h4>
              </div>
              <div class="modal-body">
                <gcse:search></gcse:search>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ i18n "gcseClose" }}</button>
              </div>
            </div>
          </div>
        </div>
      {{ end }}
      